

.buttonA{
    background:url(./images/but.png) no-repeat;
    cursor:pointer;
    border:none;
}
.buttonB{
    background:url(./images/but.png) no-repeat;
    cursor:pointer;
    border:none;
}
.buttonC{
    background:url(./images/but.png) no-repeat;
    cursor:pointer;
    border:none;
}
.buttonD{
    background:url(./images/but.png) no-repeat;
    cursor:pointer;
    border:none;
}